<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <div>
        Transactions
    </div>

    <ul>
    {{range .}}
        <li>User Account - {{.Name}} <br />
            Quantity {{.Quantity}}<br>
            Time {{.Timestamp}}<br>
            ID {{.ID}} <br />

            <h2><a href="/api/coin/transactions/delete?name={{.Name}}&id={{.ID | .IdToStr}}" method="DELETE">Delete Transaction</a></h2>
        </li>
    {{end}}
    </ul>

<h2><a href="/api/session/logout">log out</a></h2>
<h2><a href="/api/users/signup">sign up</a></h2>
<h2><a href="/api/sessoin/login">log in</a></h2>
<h2><a href="/api/coin/transactions/create">Create transaction</a></h2>

</body>
</html>
